/*reset css*/
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*header style*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: aliceblue;    
    font-size: 0.75rem;
} 
a{
    text-decoration: none;
    color: aliceblue;
}
h1{
    margin-left: 20px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1:hover{
    transform: scale(1.05);
    cursor: pointer;
}
nav{
    display: flex;
    margin: 10px;
}
nav ul{
    display: flex;
    text-align: center;
    list-style-type: none;
}
ul li{
    margin: 10px;
}
.link:hover{
    border-left: 3px solid brown;
    padding: 3px;
}
.nav__input input{
    width: 200px;
    color: #eee;
    border: 1px solid #fff;
    background-color: black;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.5rem;
}
.nav__input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}
.fa-search{
    margin-left: -2rem;
    cursor: pointer;
}
.hamburger-menu{
    display: none;
}
/*main style*/
main, footer{
    background-color: rgb(209, 216, 214);
}
.head-div{
    height: 400px;
    background-color: rgb(29, 27, 21);
    color: aliceblue;
    text-align: center;
    padding: 80px;
    font-size: 1.4rem;
    line-height: 2rem;
}
.main-div{
/*width: calc(100% - 4rem);
margin: 0 auto;*/
display: grid;
grid-template-columns: repeat(3, 300px);
grid-template-rows: auto;
grid-gap: 65px;
margin-top: -120px;
justify-content: center;
}
.div{
    background-color: rgb(156, 156, 156);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    
}
.div:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.1);
}
.images{
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 3px;

}
.content{
    font-size: 0.9rem;
    line-height: 1.8rem; 
    padding: 10px; 
}
.main-div a:hover{
    border-left: 2px dashed rgb(29, 27, 21);
    padding: 3px;
}

/*footer style*/
footer{
    display: flex;
    padding: 200px 20px;
}
footer a{
    color: black;
}
footer a:hover{
    color: red;
}
.first-footer{
    width: 400px;
    line-height: 1.8rem;
}
.second-footer, .third-footer{
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    line-height: 1.8rem;
}
.second-footer{
    width: 475px;
    padding-left: 150px;
}
.fourth-footer{
    width: 275px;
    padding-left: 150px;
    line-height: 1.8rem;
}
.fourth-footer a{
    padding: 30px;
}
.fourth-footer a:hover{
    border-bottom: 2px solid red;
}
.fourth-footer img:hover{
    cursor: pointer;
}
/*media query*/
/*navbar*/
@media screen and (max-width: 880px) {
    nav{
        display: none;
    }
    .hamburger-menu{
        display: block;
        margin: 1rem;
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 1060px) {
    .main-div{
        grid-template-columns: 1fr 1fr;
        margin: -120px 4rem;
    }
    .head-div{
        font-size: 1rem;
    }
}
@media screen and (max-width: 670px) {
    .main-div{
        grid-template-columns: 1fr;
        margin: -120px 8rem;
    }
    .head-div{
        font-size: 0.8rem;
    }
    
}
@media screen and (max-width: 1320px) {
    .first-footer{
        width: 300px;
    }
    .second-footer, .third-footer{
        width: 200px;
    }
    .fourth-footer{
        width: 275px;
    }
}
@media screen and (max-width: 1000px){
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
        padding-left: 80px;
        
    }
}
@media screen and (max-width: 760px){
    footer{
        grid-template-columns: 1fr;
        font-size: 0.8rem;
        padding-left: 8rem ;
    }
    .second-footer, .third-footer, .fourth-footer{
        padding-left: 0;
    }
}